<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>hocus.io</title>
  <link rel="shortcut icon" href="//hocus.io/assets/favicon.ico" />
  <meta name="description" content="A mythbusting platform">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//twitter.github.io/bootstrap/assets/js/html5shiv.js"></script>
  <![endif]-->

  <!-- include jquery and bootstrap and font-awesome -->
  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

  <!-- include summernote -->
  <link href="css/summernote.css" rel="stylesheet">
  <script src="js/summernote.min.js"></script>

</head>
<body>
  <!-- navbar -->
  <div class="navbar navbar-default navbar-fixed-top bs-page-navbar" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="assets/logo.png" /></a>      
      </div>
      <ul class="nav navbar-nav navbar">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="about.php">About</a></li>
      </ul>      
    </div>
  </div>
<div style="min-height:100px"></div>
<div class="container">
  <div class="row">    
    <div class="col-md-12" role="main">
      <section>
        {{ alert|raw }}
        <?php echo $alert; ?>
        <h2>{{ id == -1 ? 'Upload' : 'Edit' }} hoax</h2>
        <p>Set the url to the article. Then write the evidence to support your case and hit submit.</p>

        <form class="span12" id="postForm" action="" method="POST" enctype="multipart/form-data" onsubmit="return postForm()">
          <div class="form-group">
            <label>Url</label>
            <input type="url" class="form-control" name="url" placeholder="Enter url" value=""/>
          </div>
          <div class="form-group">
            <label>Evidence</label>
            <textarea id="editor" name="evidence">{{ evidence }}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" id="cancel" class="btn">Cancel</button>
        </form>
      </section>
      <hr/>
    </div>
  </div>
</div>

{% include 'footer.html' %}

<script>
  $(document).ready(function() {
    $('#editor').summernote();
  });

  var postForm = function() {
    var content = $('textarea[name="content"]').html($('#editor').code());
  }
</script>

</body>
</html>