<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>hocus.io</title>
  <link rel="shortcut icon" href="//hocus.io/assets/favicon.ico" />
  <meta name="description" content="A mythbusting platform">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//twitter.github.io/bootstrap/assets/js/html5shiv.js"></script>
  <![endif]-->

  <!-- include jquery and bootstrap and font-awesome -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

  <!-- include summernote -->
  <link href="css/summernote.css" rel="stylesheet">
  <link href="css/ladda-themeless.min.css" rel="stylesheet">
  <link href="css/hocus.css" rel="stylesheet">

</head>
<body>
  <!-- navbar -->
  <div class="navbar bs-page-navbar center" role="banner">

    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="assets/logo.png" height="40px" /></a>
      </div>
      <div class="navbar-inner">
        <ul class="nav navbar-nav" style="margin-left:-180px; margin-top:10px">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="javascript:(function()%7B(function()%7Bvar%20e%3Ddocument.createElement(%22script%22)%3Be.src%3D%22%2F%2Fhocus.io%2Fapi.php%3Ff%3Djs%26u%3D%22%2BencodeURIComponent(document.URL)%3Be.onload%3De.onreadystatechange%3Dfunction()%7Bif(!done%26%26(!this.readyState%7C%7Cthis.readyState%3D%3D%22loaded%22%7C%7Cthis.readyState%3D%3D%22complete%22))%7Bdone%3Dtrue%7D%7D%3Bdocument.getElementsByTagName(%22head%22)%5B0%5D.appendChild(e)%7D)()%7D)()">BOOKMARKLET</a></li>
          <li><a href="javascript:$('#second-level-nav').toggle();">ABOUT</a></li>
        </ul>
      </div>
    </div>

    <!-- second level of navbar -->
    <div class='second-level-nav' style='position:absolute; right:0; left:0'>
      <div class="navbar-inner" id="second-level-nav" style="display:none; ">
        <ul class="nav navbar-nav" style="margin-left:-20px">
          <li class="active"><a href="/">TEAM</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="about.php">CONTACT</a></li>
        </ul>
      </div>
    </div>

    <div class='banner' id='banner'>
      <img src="assets/banner.gif" />
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div role="" style="text-align:center; padding-bottom:100px">
          <section>
            <p>Set the url that points to the article. The rest is our job.</p>

            <form class="form-inline" id="postForm" action="javascript:validate_hoax()" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input type="text" class="form-control" style="width:500px" name="url" placeholder="Enter url" value="{{ url }}"/>
                <a href="#" onclick="validate_hoax(); return false;" id="form-submit" class="btn btn-primary ladda-button btn-sample" data-style="expand-right" data-size="l"><span class="ladda-label">Check</span></a>
              </div>
            </form>
          </section>
        </div>
        <div class="row" id="results" style="display:none; text-align:left; background:#eee; padding:20px"></div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="js/summernote.min.js"></script>
  <script src="js/spin.min.js"></script>
  <script src="js/ladda.min.js"></script>

  <script>

  function validate_hoax(){
    var l = Ladda.create( document.querySelector('#form-submit') );
    l.start();
    $("#results").html("");
    $.get("api.php",
    { u : $('input[name=url]').val() },
    function(response){
      console.log(response);
      $("#results").show();
      var html = '';
      if (response == null)
      {
        html = "It doesn't look like a hoax";
      }
      else
      {
        html = "<div>" + response.evidence + " <a  class='btn btn-default btn-sm' href='edit.php?id=" + response.id + "'><span class='glyphicon glyphicon-pencil'></span> Edit</a></div>";
      }
      $("#results").html(html);
    }, "json")
    .always(function() { l.stop(); });
  }

  </script>

  <script>
  $(document).ready(function() {
    $('#editor').summernote();
  });

  var postForm = function() {
    var content = $('textarea[name="content"]').html($('#editor').code());
  }
  </script>

</body>
</html>
